# Base runtime dependencies
tomli>=2.0.0; python_version < "3.11"

# Zenoh + hardware-related dependencies (required)
eclipse-zenoh
pigpio
mpu9250-jmdev
opencv-python
adafruit-blinka
adafruit-circuitpython-ssd1306
pillow
